<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://weblog.rubyonrails.org/">Rails News</a></li>
      <li><a href="http://rubyonrails.org/">Rails Resource</a></li>
    </ul>
  </nav>
</footer>
